.basketCard.flex
    img(src="img/BasketImage.png", alt="")
    .basketCardHeaderline.flex-between
        div
            h2 Втулка моста внутрішня для телескопічного навантажувача 448/26402 для JCB
            .flex
                b номер:
                p 332/Go941
        .basketCardCount.flexButton
            .flex
                b кількість:
                form(action="")
                    .flex.cardCount
                        button -
                        p 1
                        button +
            .basketCardPrice
                p 577 грн
    div
        button 
            span.crossBasket
