.basketCard.flex
    .posRelative
        a(href="goods.html").absolute
        img(src="img/BasketImage.png", alt="")
    .basketCardHeaderline.flex-between
        div
            h2 
                a(href="goods.html") Втулка моста внутрішня для телескопічного навантажувача 448/26402 для JCB
            .flex
                b номер:
                p 332/Go941
        .basketCardCount.flexButton
            .flex
                b кількість:
                .flex.cardCount
                    a(href="")  -
                    p 1
                    a(href="")  +
            .basketCardPrice
                p 577 грн
    div 
        span.crossBasket
