figure.card
    figcaption 
        a(href="goods.html").absolute
        p.newPosition Новий
        img(src="img/card-image.png", alt="Картинка товару")
        p.cardArticle 332/GO941
        h3 Втулка моста внутрішня
        p.cardPrice 577 грн
        a(href="basket.html", class="button cardButton") Замовити 