.posRelative
    .header-info
        .wrapper.flex-between.header-info-wrap
            .telephone
                a(href="tel:+380977850450") +380977850450
                a(href="tel:+380634314591") +380634314591
                a(href="tel:+380673826939") +380673826939
            p 
                a(href="#", class="button feedback") Зворотній зв’язок
    .header-line-shadow
        .header-line.flex-between.wrapper
            .logo
                a(href="index.html")
                    img(src="img/logo.svg", alt="Логотип")
            .header-menu 
                ul.menu.flex-between
                    li 
                        a(href="#", id="headerMenu", class="colorA") Меню
                        span.color 
                        span.color 
                        span.color 
                    li 
                        a(href="aboutAs.html") Про SavService
                    li 
                        a(href="contacts.html") Контакти
                .sub-menu.menu#headerSubMenu
                    ul.menu
                        li
                            .flex
                                img(src="img/spareParts.svg", alt="іконка шестерня")
                                a(href="catalog.html") Запчастини
                                div.arrow
                                    span
                            ul.menu.sparePartsMenu
                                li
                                    a(href="catalog.html") Навісне обладнання
                                li
                                    a(href="catalog.html") Електросистема
                                li
                                    a(href="catalog.html") Гідравлічна система
                                li
                                    a(href="catalog.html") Ходова система
                                li
                                    a(href="catalog.html") Гальмівна система
                                li
                                    a(href="catalog.html") Двигуни та комплектуючі
                                li
                                    a(href="catalog.html") Фільтри
                                li
                                    a(href="catalog.html") Масла
                                li
                                    a(href="catalog.html") Аксесуари
                        li
                            img(src="img/repair.svg", alt="іконки інструменти")
                            a(href="repair.html") Ремонт на обслуговування
                        li
                            img(src="img/selling.svg", alt="іконка техніки")
                            a(href="sell.html") Продаж спецтехніки
                        li
                            img(src="img/rent.svg", alt="іконка техніки")
                            a(href="rent.html") Оренда спецтехніки
            .my-basket 
                .search
                    img(src="img/search.svg", alt="Пошук")
                div
                    a(href="basket.html") 
                        img(src="img/basket.svg", alt="Кошик")
.searchBlockWrap
    input(type="text" placeholder="Знайдіть свої товари тут")