figure.card
    figcaption 
        a(href="goods.html").absolute 
        p.newPosition Новий
        img(src="img/secondCardImage.png", alt="")
        p.cardArticle оренда від 4х годин
        h3 Екскаватор JCB 3CX для JCB
        p.cardPrice 2000 грн/година
        a(href="goods.html", class="button cardButton") Замовити 