doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/svg+xml" href="img/gears.svg">

        title SavService: Якість, Швидкість, Надійність у постачанні запчастин JCB
    body 
        include components/mixin
        header
            include components/headerLine
            .bgAbsolute
            .formContactsAbsolute
                include components/formContacts
                .privacyPolicy 
                    .crossPolicy
                    include components/policy
        main 
            .recent-bg-bg
            .wrapper
                .pageNavigation.flex
                    p
                        a(href="#") головна
                    p про нас
            .aboutAsWrap 
                .wrapper.flex-between
                    .aboutAsImage 
                        img(src="img/miniExcavatorRewerse.png", alt="екскалатор")
                    .aboutAsText 
                        h1 Про SavService
                        p Savservice - один з найбільших дистриб'юторів запчастин до спеціальної техніки JCB в західному регіоні України. Ми забезпечуємо власників машин JCB високоякісними оригінальними запчастинами, а також продаємо ці технічні засоби бажаючим їх придбати або надаємо в оренду.
                        p Найвищі стандарти запасних частин, які реалізуємо, поводження з ними під час доставки та зберігання на складі дозволили нам впровадити систему контролю якості, яка не дає збоїв.
            .newTechnologiesWrap
                .newTechnologies.wrapper
                    .newTechnologiesText 
                        h2 Компанія постійно удосконалюється та вводить новітні технології
                        p Окрім цього, ми винаходимо можливості для утримання лояльних цін, а постійним клієнтам - надаємо знижки на товари.
                        p Предметом гордості є ще одна система - система управління запасами товарів на складі, яка, у поєднанні з добре продуманою та організованю логістикою, дозволяє оперативно постачати нашим клієнтам високоякісні деталі та механізми, що, у свою чергу, допомагає експлуатантам техніки мінімізовувати її простоювання.
                    .newTechnologiesImage
                        img(src="img/loader.png", alt="навантажувач")

            .teamWrap 
                .wrapper.flex
                    .teamImage 
                        img(src="img/team.png", alt="Команда")
                    .teamText 
                        h2 Наш колектив - наша Команда
                        p Прагнення до невпинного розвитку та зростання компанії Savservice спонукає нас активно працювати над постійним підвищенням професійного рівня співробітників.
                        p За час діяльності компанії вдалось згуртувати команду високопрофесійних, ефективних фахівців.
        include components/footer
        script(src="js/script.js") 

        