doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        title Document
    body 
        include components/mixin
        header
            include components/headerLine
            .bgAbsolute
            .formContactsAbsolute
                include components/formContacts
                .privacyPolicy 
                    .crossPolicy
                    include components/policy
        main 
            .recent-bg-bg
            .feedbackContacts
            .wrapper
                .pageNavigation.flex
                    p
                        a(href="#") головна
                    p контакти
            .contacts 
                .wrapper.flex-between
                    .box
                        .flex-between.width50
                            div
                                .graphic
                                    h1 Графік роботи:
                                    p з 9:00 по 18:00,
                                    p сб-нд вихідні
                                div
                                    h2 Соціальні мережі:
                                    div.socialNetwork
                                        a(href="").facebook
                                        a(href="").instagram
                                        a(href="").telegram
                                        a(href="").viber
                                .address
                                    h2 Адреса:
                                    address вул. Чорновола 41/2, м. Хмельницький
                            div
                                div 
                                    h2 Пошта:
                                    a(href="mailto:sav.service.khm@gmail.com") sav.service.khm@gmail.com
                                div 
                                    h2 Телефон:
                                    p
                                        a(href="tel:+380977850450") +380977850450
                                    p 
                                        a(href="tel:+380634314591") +380634314591
                                    p
                                        a(href="tel:+380673826939") +380673826939
                        .mapContact
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2596.079356058206!2d27.02721507654672!3d49.407404961914125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473206244f6a3f73%3A0xe30df07a7c249676!2z0LLRg9C70LjRhtGPINCn0L7RgNC90L7QstC-0LvQsCwgNDEvMiwg0KXQvNC10LvRjNC90LjRhtGM0LrQuNC5LCDQpdC80LXQu9GM0L3QuNGG0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAyOTAwMA!5e0!3m2!1suk!2sua!4v1723583350084!5m2!1suk!2sua" width="600" height="285" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    form(action="", method="post", class="formContacts") 
                        .crossForm
                        h3 Зворотній звʼязок
                        p Маєте питання чи пропозиції? Ви завжди можете звʼязатися з нами.  
                        .flex-between.contactInfo
                            div 
                                label(for="") Ваше імʼя*
                                input(type="text" placeholder="Ваше імʼя").yourName
                            div 
                                label(for="") Телефон*
                                input(type="text" placeholder="+38").yourNumber
                        div
                            label(for="") Ваше повідомлення*
                            textarea(placeholder="Ваше повідомлення")
                        .flex
                            input(type="checkbox",id="checkboxPopap" name="").checkbox
                            label(for="checkboxPopap" class="flex checkboxLabel") 
                                p Я прочитав (ла) <b class="policyContacts">політику конфіденційності</b> і згоден (на) з вимогами 
                        input(type="submit", name="", value="Відправити", class="contactButton") 

                    .privacyPolicyContacts
                        .crossPolicyContacts
                        include components/policy
                        
        include components/footer
        script(src="js/script.js") 