doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        title Document
    body 
        include components/mixin
        //- include components/headerLine
        header 
            .header-info
                .wrapper.flex-between.header-info-wrap
                    .telephone
                        a(href="tel:+380977850450") +380977850450
                        a(href="tel:+380634314591") +380634314591
                        a(href="tel:+380673826939") +380673826939
                    p 
                        a(href="#", class="button") Зворотній зв’язок
            .header-line.flex-between.wrapper
                .logo
                    a(href="#") 
                        img(src="img/logo.svg", alt="")
                .header-menu 
                    ul.menu.flex-between
                        li 
                            a(href="#", id="headerMenu", class="color") Меню
                            span.color 
                            span.color 
                            span.color 
                        li 
                            a(href="#") Про SavService
                        li 
                            a(href="#") Контакти
                    .sub-menu.menu#headerSubMenu
                        ul.menu
                            li
                                span
                                    img(src="img/spareParts.svg", alt="")
                                    a(href="#") Запчастини
                                ul.menu.sparePartsMenu
                                    li
                                        a(href="#") Навісне обладнання
                                    li
                                        a(href="#") Електросистема
                                    li
                                        a(href="#") Гідравлічна система
                                    li
                                        a(href="#") Ходова система
                                    li
                                        a(href="#") Гальмівна система
                                    li
                                        a(href="#") Двигуни та комплектуючі
                                    li
                                        a(href="#") Фільтри
                                    li
                                        a(href="#") Масла
                                    li
                                        a(href="#") Аксесуари
                            li
                                img(src="img/repair.svg", alt="")
                                a(href="#") Ремонт на обслуговування
                            li
                                img(src="img/selling.svg", alt="")
                                a(href="#") Продаж спецтехніки
                            li
                                img(src="img/rent.svg", alt="")
                                a(href="#") Оренда спецтехніки
                .my-basket 
                    img(src="img/search.svg", alt="")
                    div
                        a(href="#") 
                            img(src="img/basket.svg", alt="")
            .header-content 
                .recent-bg
                .wrapper.flex-between.headerContentWrap
                    .header-text 
                        h1 Запчастини для JCB та інших марок
                        p В наявності більше 10000 товарних позицій для усіх видів екскаваторів та навантажувачів JCB
                        p  
                            a(href="#") Купити 
                    .header-slider 
                        img(src="img/border.svg", alt="")
                        div
                            picture.excavator
                                img(src="img/excavator.png", alt="")
                            picture.excavator
                                img(src="img/miniExcavator.png", alt="")
                            picture.excavator
                                img(src="img/loader.png", alt="")
                            picture.excavator
                                img(src="img/crawlerExcavator.png", alt="")
                            picture.excavator
                                img(src="img/wheeledExcavator.png", alt="")
        main
            .assortment
                div
                    a(href="#") 
                    h2 Запчастини
                    div
                        img(src="img/gears.svg", alt="")
                div
                    a(href="#") 
                    h2 Шини та Диски
                    img(src="img/tires.svg", alt="")
                div
                    a(href="#") 
                    h2 Ремонт та Обслуговування
                    img(src="img/Tools.svg", alt="")
                div
                    a(href="#") 
                    h2 Продаж Спецтехніки
                    img(src="img/specialEquipment.svg", alt="")
                div
                    a(href="#") 
                    h2 Оренда Спецтехніки
                    img(src="img/assortmentRent.svg", alt="")
            .popular 
                .wrapper
                    h2 Популярні товари
                    p.popular-text 
                        a(href="#") Усі товари
                    .cards-block.flex-between
                        +cards(popularProducts.cardOne)
                        +cards(popularProducts.cardOne)
                        +cards(popularProducts.cardOne)
                        +cards(popularProducts.cardOne)
                        +cards(popularProducts.cardOne)
                        +cards(popularProducts.cardOne)
                        +cards(popularProducts.cardOne)
                        +cards(popularProducts.cardOne)
            .aboutSavServis
                h2 Про SavServis
                .wrapper.flex-between.aboutSavServisWrap
                    .assortmentSav.flex
                        .assortment-text
                            h3 Асортимент
                            p.firstP Savservice реалізує запасні частини для всіх моделей спецтехніки торгової марки JCB відповідно до замовлень клієнтів та організовує їх доставку по всій Україні згідно з обраним замовником способом.
                            p Із понад 9-ти тисяч одиниць наявних у нас блоків, механізмів і окремих частин можете підібрати необхідне саме Вам для будь-якої моделі машин JCB (JS, 3CX/4CX, LOADALL, MINI).
                        .assortment-image
                    .storage.flex
                        .storage-text 
                            h3 Склад запасних частин
                            p.firstP Ми забезпечуємо своєчасне поповнення запасів запчастин на нашому складі, їх розміщення в суворому номенклатурному порядку, оперативне формування нарядів на відправку та пакування, з метою задоволення потреб клієнтів у той самий день, коли було отримано замовлення. 
                            p При потребі, надаємо фахові консультації замовникам щодо вибору потрібних товарів. 
                        .stirege-image 
            .advantages 
                h2 Переваги для вас
                .wrapper.flex-between.advantagesBlock
                    div
                        .advantages-image
                        p Прийнятні ціни
                    div
                        .advantages-image
                        p Наявність товарів
                    div
                        .advantages-image
                        p Команда фахівців
                    div
                        .advantages-image
                        p Відправка у день замовлення
                    div
                        .advantages-image
                        p Імпорт запчастин без посередників
        footer 
            .wrapper
                h2 Контакти
                div.flexTop.footerWrap
                    div
                        div.footerInfo
                            div.email
                                h3 Пошта:
                                a(href="mailto:sav.service.khm@gmail.com") sav.service.khm@gmail.com
                            div.graphic
                                h3 Графік роботи:
                                p з 9:00 по 18:00, <br> сб-нд вихідні
                        div.phone
                            h3 Телефон:
                            p
                                a(href="tel:+380977850450") +380977850450
                            p
                                a(href="tel:+380634314591") +380634314591
                            p
                                a(href="tel:+380673826939") +380673826939
                        div.privacy
                            h3
                                a(href="#")  Політика конфіденційності
                            p &copy; copyright by SavServis 2024
                    div 
                        div.address
                            h3 Адреса:
                            address вул. Чорновола 41/2, м. Хмельницький
                        div.map
                            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1428.292381622587!2d30.479543866250047!3d50.48796785531456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTDCsDI5JzE2LjAiTiAzMMKwMjgnNDMuNCJF!5e0!3m2!1suk!2sua!4v1718731564929!5m2!1suk!2sua" width="610" height="260" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        script(src="js/script.js") 