doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        title Document
    body 
        header 
            include components/mixin
            include components/headerLine
            .bgAbsolute
            .formContactsAbsolute
                include components/formContacts
                
            .header-content 
                .recent-bg
                .wrapper.flex-between.headerContentWrap
                    .header-text 
                        h1 Запчастини для JCB та інших марок
                        p В наявності більше 10000 товарних позицій для усіх видів екскаваторів та навантажувачів JCB
                        p  
                            a(href="catalog.html") Купити 
                    .header-slider 
                        img(src="img/border.svg", alt="")
                        div
                            picture.excavator
                                img(src="img/excavator.png", alt="")
                            picture.excavator
                                img(src="img/miniExcavator.png", alt="")
                            picture.excavator
                                img(src="img/loader.png", alt="")
                            picture.excavator
                                img(src="img/crawlerExcavator.png", alt="")
                            picture.excavator
                                img(src="img/wheeledExcavator.png", alt="")
        main
            .assortment
                div
                    a(href="catalog.html") 
                    h2 Запчастини
                    div
                        img(src="img/gears.svg", alt="")
                div
                    a(href="catalog.html") 
                    h2 Шини та Диски
                    div
                        img(src="img/tires.svg", alt="")
                div
                    a(href="repair.html") 
                    h2 Ремонт та Обслуговування
                    div
                        img(src="img/Tools.svg", alt="")
                div
                    a(href="sell.html") 
                    h2 Продаж Спецтехніки
                    div
                        img(src="img/specialEquipment.svg", alt="")
                div
                    a(href="rent.html") 
                    h2 Оренда Спецтехніки
                    div
                        img(src="img/assortmentRent.svg", alt="")
            .popular 
                .wrapper
                    h2 Популярні товари
                    p.popular-text 
                        a(href="#") Усі товари
                    .cards-block.cards-block-grid
                        include components/card.pug
                        include components/card.pug
                        include components/card.pug
                        include components/card.pug
                        include components/card.pug
                        include components/card.pug
                        include components/card.pug
                        include components/card.pug
            .aboutSavServis
                h2 Про SavServis
                .wrapper.flex-between.aboutSavServisWrap
                    .assortmentSav.flex
                        .assortment-text
                            h3 Асортимент
                            p.firstP Savservice реалізує запасні частини для всіх моделей спецтехніки торгової марки JCB відповідно до замовлень клієнтів та організовує їх доставку по всій Україні згідно з обраним замовником способом.
                            p Із понад 9-ти тисяч одиниць наявних у нас блоків, механізмів і окремих частин можете підібрати необхідне саме Вам для будь-якої моделі машин JCB (JS, 3CX/4CX, LOADALL, MINI).
                        .assortment-image
                    .storage.flex
                        .storage-text 
                            h3 Склад запасних частин
                            p.firstP Ми забезпечуємо своєчасне поповнення запасів запчастин на нашому складі, їх розміщення в суворому номенклатурному порядку, оперативне формування нарядів на відправку та пакування, з метою задоволення потреб клієнтів у той самий день, коли було отримано замовлення. 
                            p При потребі, надаємо фахові консультації замовникам щодо вибору потрібних товарів. 
                        .stirege-image 
            .advantages 
                h2 Переваги для вас
                .wrapper.flex-between.advantagesBlock
                    div
                        .advantages-image
                        p Прийнятні ціни
                    div
                        .advantages-image
                        p Наявність товарів
                    div
                        .advantages-image
                        p Команда фахівців
                    div
                        .advantages-image
                        p Відправка у день замовлення
                    div
                        .advantages-image
                        p Імпорт запчастин без посередників
        include components/footer
        script(src="js/script.js") 