doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.css")

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    body 
        include components/mixin
        header
            include components/headerLine
            .bgAbsolute
            .formContactsAbsolute
                include components/formContacts
                .privacyPolicy 
                    .crossPolicy
                    include components/policy
        main 
            .bgAbsoluteOrder
            .recent-bg-bg
            .policyBG
            .formContactsAbsolute1
                form(action="", method="post", class="orderPopap") 
                    .crossOrder
                    h3 Замовити
                    .flex-between.contactInfo
                        div 
                            label(for="") Ваше імʼя*
                            input(type="text" placeholder="Ваше імʼя").yourName
                        div 
                            label(for="") Телефон*
                            input(type="text" placeholder="+38").yourNumber
                    .flex.radioBlock
                        .flex
                            input(type="radio", name="repair", id="serviceInput") 
                            label(for="serviceInput") Обслуговування
                        .flex
                            input(type="radio", name="repair", id="repairInput")
                            label(for="repairInput") Ремонт
                    .flex.w100
                        input(type="checkbox",id="orderPopapCheckbox" name="").checkbox
                        label(for="orderPopapCheckbox" class="flex checkboxLabel") 
                            p Я прочитав (ла) <b class="policyRepair">політику конфіденційності</b> і згоден (на) з вимогами 
                    button(type="submit", name="", class="contactButton") Відправити
            .privacyPolicyRepair
                .crossPolicyRepair
                include components/policy
            .repairBlock
                .wrapper
                    h1 Ремонтуємо техніку JCB. Зокрема виконуємо наступне:
                    .flex-between.mainContent
                        div
                            ul.menu 
                                li
                                    p монтаж/демонтаж паливної системи;
                                li
                                    p заміну тросів елементів управління системами спецтехніки;
                                li
                                    p монтаж, демонтаж та ремонт гідроциліндрів, демонтаж/монтаж гідророзподільників та клапанів, заміну гідронасосу, шлангів; 
                                li
                                    p заміну гальмівних циліндрів, гальмівної рідини, прокачка гальм;
                                li
                                    p діагностику робочого тиску у різних системах;
                                li
                                    p заміну/заправку енергоакумуляторів;
                                li
                                    p заміну запобіжників.
                                li
                                    p  заміну втулок/пальців;
                                li
                                    p  ремонт мостів та редукторів, заміну та регулювання внутрішніх елементів ходової частини;
                                li
                                    p діагностику технічного стану двигунів, їх капітальний ремонт та заміну елементів навісного обладнання;
                                li
                                    p заміну: турбіни, стартера, генератора, радіатора, вентилятора, форсунок, датчиків, подушок та піддону двигуна, ременів та роликів, шлангів, патрубків, акумулятора;
                                li
                                    p монтаж/демонтаж головки блока циліндрів двигуна, заміну маховика, прокладок та сальників;
                            p.but.repairOrder.repairButton
                                a(href="") Замовити
                        .CenterImageWrap
                            img(src="img/wheeledExcavator.png", alt="")
            .service.flex-between.wrapper
                div 
                    div.bg
                        h2 Обслуговування:
                        ul.menu 
                            li
                                p Заміна тросів газа, ручного гальма, інших елементів управління
                            li
                                p Заміна гальмівних циліндрів
                            li
                                p Прокачка гальм
                            li
                                p Заміна гальмівної рідини
                            li
                                p Заміна запобіжників
                            li
                                p Діагностика робочого тиску різних систем 
                            li
                                p Заміна гідравлічного насосу
                            li
                                p Демонтаж/монтаж гідравлічних розподільників та клапанів
                            li
                                p Заміна гідравлічних шлангів
                    div.pro
                        p На професійному устаткуванні, методом наплавлення та розточування ми відновлюємо стандартні розміри посадкових місць втулок та пальців.
                        p.but.repairOrder.repairButton
                            a(href="") Замовити
                div.bg
                    h2 Ремонт:
                    ul.menu 
                        li
                            p Заміна турбіни
                        li
                            p Заміна форсунок
                        li
                            p Заміна ременя та роликів
                        li
                            p Заміна радіатора
                        li
                            p Заміна акумулятора
                        li
                            p Заміна подушок двигуна
                        li
                            p Заміна піддона двигуна
                        li
                            p Заміна патрубків, шлангів
                        li
                            p Заміна генератора
                        li
                            p Заміна стартера
                        li
                            p Заміна вентилятора
                        li
                            p Заміна датчиків двигуна
                        li
                            p Демонтаж/монтаж головки блока циліндрів
                        li
                            p Заміна сальників та прокладок
                        li
                            p Заміна маховика
                        li
                            p Демонтаж/монтаж паливної системи
        include components/footer
        script(src="js/script.js") 